<div class="col-xs-12 main-chat" *ngIf="chat">

          <div class="col-md-12 message-list" #message_list>
          <div *ngFor="let message of chat.messages"
               (change)="ngAfterViewChecked()">
            <div class="block-review"  >
              <img [src]="message.logo" onerror="this.src='assets/icon/client.png'">
              <div class="item-review" >
                <div class="top-item">
                  <div class="name-user" >{{message.name}}</div>
                  <div class="date">
                    {{message.date_string}}
                  </div>
                </div>
                <div class="text-review">{{message.text}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 message">
          <md-input-container >
            <textarea mdInput
                      [(ngModel)]="message"
                      style="color: black"
                      class="msg"
                      (keydown.control.Enter)="onPush()"
                      placeholder="Введите сообщение"></textarea>
          </md-input-container>
          <button md-icon-button
                  (click)="onPush()"
                  class="float-right">
            <md-icon>send</md-icon>
          </button>
        </div>
</div>
<md-spinner *ngIf="!chatFlag"
            class="center-block"
            style=" margin-top: 100px;"></md-spinner>
