<div class="request-base-template">
  <div class=" title-request" >
    Категория
  </div>

  <div class=" title rez">
    {{request.category_name}}
  </div>

  <div class=" title-request" >
    {{request.title_label}}
  </div>

  <div class=" title rez">
    {{request.title}}
  </div>

  <div class=" title-request" >
    {{request.subtitle_label}}
  </div>

  <div class=" subtitle rez">
    {{request.subtitle}}
  </div>

  <div class=" title-request" >
    {{request.details_label}}
  </div>

  <div class=" details rez">
    {{request.details}}
  </div>
</div>