<div *ngIf="request">
  <md-toolbar >
    Заявка №{{request.id}}
    <md-icon (click)="onOpenRequest()"
             mdTooltip="Подробная информация о заявке"
             [mdTooltipPosition]="'below'">menu</md-icon>
  </md-toolbar>
  <md-spinner *ngIf="load"
              class="center-block"
              style=" margin-top: 100px;"></md-spinner>
  <div *ngIf="!load">
    <div class="request-base-template" >
      <div class=" title-request" >
        Категория
      </div>

      <div class=" title rez">
        {{request.category_name}}
      </div>

      <div class=" title-request" >
        {{request.title_label}}
      </div>

      <div class=" title rez">
        {{request.title}}
      </div>

      <div class=" title-request" >
        {{request.subtitle_label}}
      </div>

      <div class=" subtitle rez">
        {{request.subtitle}}
      </div>

      <div class=" title-request" >
        {{request.details_label}}
      </div>

      <div class=" details rez">
        {{request.details}}
      </div>
    </div>
    <hr>
    <div *ngIf="request">Клиент</div>
    <hr>
    <div class="user item-action"
         *ngIf="request"
         [class.active]="request.active_chat"
         (click)="openChat(request.chat_id, 0)">
      <span>{{request.client_account.name}} {{request.client_account.last_name}}</span>
    </div>
    <hr>
    <div *ngIf="confirmBool">Принятое предложение</div>
    <hr>
    <div class="response item-action"
         *ngIf="confirmBool"
         [class.active]="request.confirm.active_chat"
         (click)="openChat(request.confirm.chat_id,1)">
      <span *ngIf="request.confirm.company.company">
      {{request.confirm.company.company.name}}
      </span>
      <span *ngIf="request.confirm.company.master">
          {{request.confirm.company.master.first_name}} {{request.confirm.company.master.last_name}}
      </span>
    </div>
    <hr>
    <div class="response " *ngIf="!confirmBool">
      <div *ngIf="response?.length>0">Предложения от бизнеса</div>
      <hr>
      <div *ngFor="let res of response" >
        <div class="item-action"
             [class.active]="res.active_chat"
             (click)="openChat(res.chat_id,2, res)">
          <span *ngIf="res.company.company">{{res.company.company.name}}</span>
          <span *ngIf="res.company.master">
          {{res.company.master.first_name}} {{res.company.master.last_name}}
        </span>
          <span *ngIf="res.status===6">(Отклоненный)</span>
        </div>
        <hr>
      </div>
    </div>
    <div class="response " *ngIf="questions?.length>0">
      <div>Вопросы у бизнеса</div>
      <hr>
      <div *ngFor="let question of questions" >
        <div class="item-action"
             [class.active]="question.active_chat"
             (click)="openChat(question.chat_id,3)">
          <span>
            {{question.company_name}}
        </span>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>