
    <div class="main-request"
         [class.active]="request.active"
         *ngIf="request">
      <div class='request-info'
      (click)="onOpenChat(request)">
        <div class="request-name">
          Заказ: {{request.id}}
        </div>
        <div class="request-status">
          {{StatusRequest(request.status)}}
        </div>
      </div>
      <div class="request-action">
        <div class="top">
          <md-icon>bookmark</md-icon>
          <md-checkbox (change)="onChange($event, request)"></md-checkbox>
        </div>
        <div class="bottom">
          <md-icon>
            mail
          </md-icon>
        </div>
      </div>
    </div>
    <hr>
