
    <div class="main-request"
         [class.active]="request.active"
         *ngIf="request">
      <div class='request-info'
      (click)="onOpenChat(request)">
        <div class="request-name">
          Заказ: {{request.id}}
        </div>
        <div class="request-status">
          {{StatusRequest(request.status)}}
        </div>
      </div>
      <div class="request-action" >
        <div class="top">
          <task-bookmark *ngIf='(request.tasks!==undefined&&request.tasks!==null
          &&request.tasks.length!==0)&&takeBool'
                         [task]="request.tasks[0]"></task-bookmark>
          <md-icon *ngIf="(request.tasks===undefined||request.tasks===null||
          request.tasks.length===0)&&takeBool" style="color: white">bookmark</md-icon>
          <md-icon *ngIf="!takeBool"
                   style="color: white">bookmark</md-icon>
          <md-checkbox (change)="onChange($event, request)"
                       color="primary"
                       [(ngModel)]="active">
          </md-checkbox>
        </div>
        <div class="bottom">
        </div>
      </div>
    </div>
    <hr>
