
    .main-request {
      display: flex;
      flex-direction: row;
      padding: 9px;
      cursor: pointer;
      .request-info {
        flex: 1 0 auto;
        width: 75%;
        .request-name {
          font-size: 16px;
        }
        .request-status {
          font-size: 13px;
          margin-top: 5px;
        }
      }
      .request-action {
        flex: 1 0 auto;
        width: 25%;
        .top {
          display: flex;
          justify-content: space-between;
          align-items: stretch;
          md-icon, task-bookmark {
            margin-left: 7px;
            margin-top: -2px;
          }

        }
        .bottom {
          display: flex;
          justify-content: flex-start;
          /* margin-right: -1px; */
          margin-left: 7px
        }
      }
    }
    hr {
      margin-top: 0;
      margin-bottom: 0;
    }
