<md-list *ngIf="responses" dense>
  <div *ngFor="let response of responses">
    <md-list-item>
      <md-icon md-list-icon
               style="cursor: pointer"
               (click)="onChat(response.chat_id)">mail</md-icon>
      <p md-line
         *ngIf="response.company.company">
        Компания: {{response.company.company.name}}
      </p>
      <p md-line
         *ngIf="response.company.master">
        Мастер: {{response.company.master.first_name}} {{response.company.master.last_name}}
      </p>
      <p md-line>
        Телефон: {{response.company.phone}}, Цена:  {{response.to_price}}₽
      </p>
    </md-list-item>
    <md-divider></md-divider>
  </div>
  <div *ngIf="responses.length===0" style="padding: 2em">
    Пока нет предложений
  </div>
</md-list>
<md-spinner *ngIf="load"></md-spinner>
