@import "../../const/css/scss-const";
@import "../theme/style";
.application{
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  width: 35em;
  height: 15em;
  display: inline-block;
}

.application .header{
  text-align: center;
  font-family: CaviarDreamsRegular, serif;
  width: auto;
  background: #2086c8;
  height: 1.3em;
  color: white;

}

.application .icons{
  float: left;
  width: 20em;
}
.application .info{
  padding: 1em;
}

#ddd{
  margin: 15px;
  width: 16em;
  height: 11em;
  background: #2086c8;
  overflow: auto;
  display: inline-block;
  vertical-align: top;
}


.square{
  width: 25em;
  height: 9em;;
  /*background: #2086c8;*/
  background: #1E489D;
  overflow: auto;
  display: inline-block;
  vertical-align: top;
  margin: 0.5em;
}

.square-title {
  width: 100%;
  height: auto;
  margin: 0;
  color: white;
  padding: 2px;
  background-color: #78909C;
  text-align: center;
  font-size: 19px;
}

.box{
  box-shadow: 0 0 1px rgba(0, 0, 0, 1);
  overflow: hidden;
}

.line{
  display: flex;
}

.form-group{
  margin-bottom: 0;
}


.text-request{
  color: white;
  font-size: 22px;
  padding-left: 14em;
}

@media (min-width: 1200px) {
  .container {
    width: 800px;
  }
}

.field{
  padding-top: 1em;
  margin-left: -2em;
}

li {
  list-style-type: none; /* Убираем маркеры */
}


#open{
    background: #B1DCFC;
  }
#edit{
    background: #EC4F52;
    color: white;
}

#save{
  background: #B1DCFC;
}

.button-edit-open{
  display: flex;
  padding-bottom: 3em;
  padding-right: 3em;
}

.button-save{
  float: right;
  padding-top: 2em;
}

.form-control{
  width: 19em;
  height: 32px;
  padding: 6px 12px;
  margin: 0.2em;
}


.delete-request{
  float: right;
  font-size: 27px;
}


.rez{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 1px;
}

.title-request{
  color: #9E9E9E;;
  font-size: 14px;
}

$rows-title-size:16px;
.title{
  font-size:  $rows-title-size;
}
.subtitle {
  font-size: $rows-title-size;
}
.details {
  font-size: $rows-title-size;
}


.request {
  display: grid;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 3rem;
  .request-content {
    .content{
      display: flex;
      flex-direction: row;
      .request-img{
        flex: 0 0 auto;
        img{
          width: 250px;
        }
      }
      .request-base-template{
        margin: 10px 10px 10px 20px;
        flex: 1 0 auto;
        .request-actions{
          button{
            background-color: $defaultAction;
          }
          hr{
            margin-top: 0;
            margin-bottom: 0;
          }
          .request-info{
            display: flex;
            /* justify-content: space-between; */
            align-items: center;
            margin-top: 10px;
            .phone{
              display: flex;
              margin-left: 25px;
            }
          }
        }
      }
    }
    .request-action{
      display: flex;
      justify-content: center;

    }
  }
}
