<div class="request">

  <div class="square-title">
    <span class="text-request">Заявка {{request.id}}</span>
  </div>

  <div class="request-content">
      <div class="content">
          <div class="request-img">
              <img [src]="request.logo"
                   onerror="this.src='assets/img/IconDefoltImage.png'">
          </div>
          <div class="request-base-template">
              <div class=" title-request" >
                  Категория
              </div>

              <div class=" title rez">
                  {{request.category_name}}
              </div>

              <div class=" title-request" >
                  {{request.title_label}}
              </div>

              <div class=" title rez">
                  {{request.title}}
              </div>

              <div class=" title-request" >
                  {{request.subtitle_label}}
              </div>

              <div class=" subtitle rez">
                  {{request.subtitle}}
              </div>

              <div class=" title-request" >
                  {{request.details_label}}
              </div>

              <div class=" details rez">
                  {{request.details}}
              </div>

              <div class="request-actions">
                  <div class="request-info">
                      <md-icon>phone</md-icon>
                      {{phone}}
                      <md-icon>message</md-icon>
                  </div>

              </div>
          </div>
      </div>

              <button *ngIf="numberRequest==1"
                      (click)="openRequestData=!openRequestData"
                      md-raised-button
                      color="primary">
                  Подробно</button>


      <data-request  *ngIf="openRequestData"
                     class="request-detail"
                     [requestData]="requestData"
                     [requestId]="request.id">
      </data-request>

      <button (click)="putPublishServiceRequest()"
              md-raised-button
              color="accent"
              style="width: 100%"
              type="button">
          ОПУБЛИКОВАТЬ</button>

  </div>
</div>


