<div class="request">

  <div class="square-title">
    Заявка {{request.id}}
  </div>

  <div class="request-content">
      <md-sidenav-container class="example-container">
          <md-sidenav #sidenav class="example-sidenav">
              <form-response [requestId]="request.id" *ngIf="sidnavBool"></form-response>
          </md-sidenav>

          <div class="example-sidenav-content">
              <div class="content">
                  <div class="request-img">
                      <img [src]="request.logo"
                           *ngIf="request.icon_hash&&request.logo"
                           onerror="this.src='assets/img/IconDefoltImage.png'">
                      <img [src]="'assets/img/IconDefoltImage.png'"
                           *ngIf="!request.icon_hash&&!request.logo">
                      <md-spinner *ngIf="request.icon_hash&&!request.logo">
                      </md-spinner>

                  </div>
                  <div class="request-base-template">
                      <div class=" title-request" >
                          Категория
                      </div>

                      <div class=" title rez">
                          {{request.category_name}}
                      </div>

                      <div class=" title-request" >
                          {{request.title_label}}
                      </div>

                      <div class=" title rez">
                          {{request.title}}
                      </div>

                      <div class=" title-request" >
                          {{request.subtitle_label}}
                      </div>

                      <div class=" subtitle rez">
                          {{request.subtitle}}
                      </div>

                      <div class=" title-request" >
                          {{request.details_label}}
                      </div>

                      <div class=" details rez">
                          {{request.details}}
                      </div>

                      <div class="request-actions">
                          <hr>
                          <div class="request-info">
                              <button (click)="openRequestData=!openRequestData"
                                      md-raised-button
                                      color="primary">
                                  Подробно</button>

                              <div *ngIf="numberRequest!==1"
                                   class="phone"
                                   [ngStyle]="{'margin-left': '10px'}">
                                  <md-icon style="margin-right: 7px">phone</md-icon>
                                  <span>{{userPhone}}</span>

                              </div>
                              <button md-mini-fab
                                      (click)="onChat()"
                                      mdTooltip="Чат"
                                      style="margin-left: 7px" >
                                  <md-icon  >message</md-icon>
                              </button>
                              <button md-mini-fab
                                      *ngIf="numberRequest==2"
                                      class="business"
                                      mdTooltip="Предложения"
                                      (click)="sidenav.open()&&onSidnav()">
                                  <md-icon>business</md-icon></button>
                          </div>

                      </div>
                  </div>
              </div>
              <item-confirm *ngIf="(numberRequest==3||numberRequest==4)&&request" [request]="request"></item-confirm>


          </div>

      </md-sidenav-container>

      <hr *ngIf="openRequestData">
      <data-request  *ngIf="openRequestData"
                     class="request-detail"
                     (deleteRequest)="onDeleteRequest($event)"
                     [numberRequest]="numberRequest"
                     [requestId]="request.id">
      </data-request>
  </div>
</div>


