
<div class="requests">
  <div *ngIf="!requestFlagLoad">
  <div *ngFor="let request of requests.requests; let ind=index"
       [class.selected]="request === selectedRequest"
       class="request">
    <request-item-mini [request]="request"
                       [takeBool]="takeBool"
                       (selectRequest)="onSelectRequestOutput($event)"
                       (selectOutput)="onSelectOutput($event)">
    </request-item-mini>
  </div>
  </div>
  <md-spinner *ngIf="requestFlagLoad"></md-spinner>
</div>