
<div class="requests" *ngIf="requests">
  <div *ngFor="let request of requests.requests; let ind=index"
       [class.selected]="request === selectedRequest"
       class="request"
       (click)="onSelectRequest(request, ind)" >
    <div class="main-request">
      <div class='request-info'>
        <div class="request-name">
          Заказ: {{request.id}}
        </div>
        <div class="request-status">
          {{StatusRequest(request.status)}}
        </div>
      </div>
      <div class="request-action">
        <div class="top">
          <md-icon>bookmark_border</md-icon>
          <md-checkbox></md-checkbox>
        </div>
        <div class="bottom">
          <md-icon>
            mail
          </md-icon>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>