<div  class="search-results"
      infinite-scroll
      [infiniteScrollDistance]="scrollDistance"
      [infiniteScrollThrottle]="throttle"
      [scrollWindow]="false"

      (scrolled)="onScrollDown()">
        <div *ngFor="let request of requests"
             [class.selected]="request === selectedRequest">
          <form-request (deleteRequest)="deleteRequest($event)"
                        [request]="request"
                        [numberRequest]="1">
          </form-request>
        </div>
</div>
