<div class="col-md-9">
  <div class="row">
    <div class="col-md-3 not-pad"
         style="    width: 35%;">
      <div class="search-chats">
        <div class="search">
          <md-icon>
            search
          </md-icon>
          <input type="search" disabled>
        </div>
        <div class="actions-basket">
          <md-tab-group [dynamicHeight]="true">
            <md-tab>
              <ng-template md-tab-label style="max-width: 20px">
               Активные
              </ng-template>
           <request-list [takeBool]="true"
                         (selectOutput)="onSelectInputBasket($event)"
                          [inRequest]="inputRequestTake"></request-list>
            </md-tab>
            <md-tab>
              <ng-template md-tab-label style="max-width: 20px">
               Новые
              </ng-template>
              <request-list [takeBool]="false"
                            (selectOutput)="onSelectInputTake($event)"
                            [inRequest]="inputRequestBasket"></request-list>
            </md-tab>
          </md-tab-group>
        </div>
      </div>
    </div>



  <div class="col-md-9 not-pad" style="width: 56%;">
      <div class="title-chat" *ngIf="selectedChat">
        <md-toolbar >
          <span style="color: #757575"> Чат {{selectedChat.id}}</span>
          <span class="example-spacer"></span>
          <button *ngIf="notificationsActive" md-icon-button >
            <md-icon>notifications_off</md-icon>
          </button>
          <button *ngIf="!notificationsActive" md-icon-button >
            <md-icon>notifications_active</md-icon>
          </button>
        </md-toolbar>
      </div>
      <div class="chat-item"
           *ngIf="chat">
       <!--<chat-item-business *ngIf="chat.messages_total_count>0"
                           [chatMessage]="chat"
                           (chatMessageOutput)="onPushChat($event)">
       </chat-item-business>-->
      </div>
      <div class="title-chat" *ngIf="!selectedChat">
        <md-toolbar >
        </md-toolbar>
      </div>
      <div class="chat-item no-chat col-md-12" *ngIf="!selectedChat">
         <span class="col-md-12 default-text">
           Выберите чат
            </span>
      </div>
      <div class="chat-item no-chat" *ngIf="!selectedChat">
        <img  class="center-block" style="width: 50%;    margin-top: 3em;" src="assets/img/3.png">
        <span   class="col-md-12 default-text">
              Здесь будет Ваш<br>
              список чатов
            </span>
      </div>




    </div>
  </div>
</div>
