<div class="col-md-9">
  <div class="row">
    <div class="col-md-3 not-pad"
         style="    width: 21%;">
      <div class="search-chats">
        <div class="search">
          <md-icon>
            search
          </md-icon>
          <input type="search" disabled>
        </div>
        <div class="actions-basket">
          <md-tab-group [dynamicHeight]="23">
            <md-tab>
              <ng-template md-tab-label>
               Активные
              </ng-template>
           <!--<request-list [takeBool]="true"></request-list>-->
            </md-tab>
            <md-tab>
              <ng-template md-tab-label>
                <md-icon>thumb_down</md-icon> Новые
              </ng-template>
              <request-list [takeBool]="false"></request-list>
            </md-tab>
          </md-tab-group>
        </div>
        <div  class="list-chats" id="chatsId">
          <!--<md-list>
            <div *ngFor="let chat of chats; let ind=index"
                 [class.selected]="chat === selectedChat"
                 (click)="onSelectChat(chat, ind)" >
              <md-list-item>
                <img  md-list-avatar src='assets/icon/client.png'>
                <h1 md-line class="top-panel">{{chat.name}}
                  <span *ngIf="chat === selectedChat"
                        style="font-weight: 900;"> •</span>
                </h1>
                <p md-line class="last-message">
                  {{chat.messages.length>0?
                  chat.messages[chat.messages.length-1]?.text:""}}
                </p>
              </md-list-item>
              <md-divider></md-divider>
            </div>
          </md-list>-->
        </div>
      </div>
    </div>



   <!-- <div class="col-md-9 not-pad" style="width: 56%;">
      <div class="title-chat" *ngIf="chat">
        <md-toolbar >
          <span style="color: #757575"> Чат {{chat.id}}</span>
          <span class="example-spacer"></span>
          <button *ngIf="notificationsActive" md-icon-button >
            <md-icon>notifications_off</md-icon>
          </button>
          <button *ngIf="!notificationsActive" md-icon-button >
            <md-icon>notifications_active</md-icon>
          </button>
        </md-toolbar>
      </div>
      <div class="chat-item"
           *ngIf="chat">
       <chat-item-business *ngIf="chat.messages_total_count>0"
                           [chatMessage]="chat"
                           (chatMessageOutput)="onPushChat($event)">
       </chat-item-business>
      </div>
      <div class="title-chat" *ngIf="!chat">
        <md-toolbar >
        </md-toolbar>
      </div>
      <div class="chat-item no-chat col-md-12" *ngIf="!chat&&chats.length>0">
         <span class="col-md-12 default-text">
           Выберите чат
            </span>
      </div>
      <div class="chat-item no-chat" *ngIf="chats.length===0">
        <img  class="center-block" style="width: 50%;    margin-top: 3em;" src="assets/img/3.png">
        <span   class="col-md-12 default-text">
              Здесь будет Ваш<br>
              список чатов
            </span>
      </div>




    </div>-->
  </div>
</div>
