<div id="preolader" >
    <div id="preloader-manager" class="center-block">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
    </div>
</div>
<div class="chat">
    <div class="col-md-9" style="width: 70%">
      <div class="row">
        <div class="col-md-3 not-pad"
             style="    width: 35%;">
          <div class="search-chats">
            <div class="search">
              <md-icon>
                search
              </md-icon>
              <input type="search" disabled>
            </div>
            <div class="actions-basket">
              <md-tab-group [dynamicHeight]="true" (selectedIndexChange)="onSelectIndex($event)">
                <md-tab>
                  <ng-template md-tab-label style="max-width: 20px">
                   Активные
                  </ng-template>
               <request-list [takeBool]="true"
                             (selectRequest)="onSelectRequest($event)"
                             (selectOutput)="onSelectInputBasket($event)"
                              [inRequest]="inputRequestTake"></request-list>
                </md-tab>
                <md-tab>
                  <ng-template md-tab-label style="max-width: 20px">
                   Новые
                  </ng-template>
                  <request-list [takeBool]="false"
                                (selectOutput)="onSelectInputTake($event)"
                                [inRequest]="inputRequestBasket"></request-list>
                </md-tab>
              </md-tab-group>
            </div>
          </div>
        </div>


          <md-sidenav-container class="example-sidenav-fab-container">
              <md-sidenav #sidenav style="width: 100%">
                  <div style="padding: 30px">
                      <data-request [requestId]="selectedRequest.id"
                                    [chatBool]="true"
                                    *ngIf="selectedRequest">
                      </data-request>
                  </div>
                  </md-sidenav>
                      <div class="col-md-9 not-pad" [ngStyle]="{'width':sidenavBool?'65%':'99.8%', 'overflow': 'hidden'}">
                          <div class="title-chat" *ngIf="selectedChatID">
                              <md-toolbar >
                                  <span style="font-size: 13px;color: #000000"
                                        *ngIf="selectedRequest.tasks.length!==0">
                                      <span>
                                           <button  md-icon-button
                                                    (click)="onDeleteTask()"
                                                    mdTooltip="Выполнено">
                                               <md-icon>done</md-icon>
                                           </button>
                                          {{selectedRequest.tasks[0]?.text}}
                                      </span>
                                  </span>
                                  <span class="example-spacer"></span>
                                  <button  md-icon-button
                                           (click)="onTaskOpen()"
                                            mdTooltip="Задания">
                                      <md-icon>chrome_reader_mode</md-icon>
                                  </button>
                                  <task *ngIf="taskBool"
                                        (close)="onTaskOpen()"
                                        (updateTask)="onUpdateTask($event)"
                                        [tasks]="selectedRequest.tasks">
                                  </task>
                              </md-toolbar>
                          </div>
                          <div class="chat-item"
                               *ngIf="selectedChatID">
                              <chat-item  [chatID]="selectedChatID">
                              </chat-item>
                          </div>
                          <div class="title-chat"
                               *ngIf="!selectedChatID">
                              <md-toolbar >
                              </md-toolbar>
                          </div>
                          <div class="chat-item no-chat col-md-12"
                               *ngIf="!selectedChatID">
              <span class="col-md-12 default-text">
                  Выберите чат
              </span>
                          </div>
                      </div>
          </md-sidenav-container>

      </div>
    </div>

    <request-item class="col-md-3 request-item"
                  *ngIf="selectedRequest"
                  (onOpenRequestBool)="onOpenRequest($event)"
                  [request]="selectedRequest">
    </request-item>
</div>