.box{
  box-shadow: 0 0 1px rgba(0, 0, 0, 1);
  overflow: hidden;
}

.response{
  text-align: center;
}

.name-company{
  font-style: oblique;
  font-family: monospace;
  font-size: 17px;
  margin-left: 5em;
}

.box{
  box-shadow: 0 0 1px rgba(0, 0, 0, 1);
  overflow: hidden;
}

li{
  box-shadow: 0 0 1px rgba(0, 0, 0, 1);
  overflow: hidden;
  list-style-type: none;

  margin-left: -2.85em;
}
