<div  >
    <div >
      <div *ngIf="slides.length!=0" class="row" id="boxx">
        <carousel *ngIf="openImage"
                  [interval]="myInterval"
                  [noWrap]="noWrapSlides">
          <slide *ngFor="let slidez of slides; let index=index"
                 [active]="slidez.active">
            <img [src]="slidez.image"
                 class="center-block"
                 (click)="OpenImageModel(index)"
                 onerror="this.src='assets/icon/icon-photo.png'"
                 style="cursor: pointer; height: 40vh;">

            <div class="carousel-caption">
            </div>
          </slide>
        </carousel>
        <ImageModal *ngIf="openModalWindow"
                    [imagePointer] = "imagePointer"
                    [modalImages]="images"
                    (cancelEvent)="cancelImageModel()"></ImageModal>
      </div>
    </div>
    <div >

      <div  *ngIf="!orderDetailFlag">
        <md-spinner  class="center-block"></md-spinner>
      </div>


      <div *ngIf="orderDetailFlag">
        <div *ngFor="let request of orderData">

          <div [ngSwitch]="request.type">

            <template  [ngSwitchCase]="1">
              <div class="form-group row"
                   *ngIf="request.text" style="padding-top: 1em;">
                <label class="col-xs-2 col-form-label">
                  <img src="{{getPropertyIcon(request.property_id)}}"
                       width="40" height="40">
                </label>
                <div class="col-xs-10">
                  <div class="row">
                    <div class="col-xs-12">
                      <span class="request-name">{{request.name}}</span>
                    </div>
                    <div class="col-xs-12">
                      <span class="request-name-main">{{request.text}} </span>
                    </div>
                  </div>
                </div>
              </div>
              <hr *ngIf="request.text" class="divider">
            </template>

            <template  [ngSwitchCase]="2">
              <div class="form-group row"  style="padding-top: 1em;"
                   *ngIf="request.text">
                <label class="col-xs-2 col-form-label">
                  <img src="{{getPropertyIcon(request.property_id)}}"
                       width="40" height="40">
                </label>
                <div class="col-xs-10">
                  <div class="row">
                    <div class="col-xs-12">
                      <span class="request-name">{{request.name}}</span>
                    </div>
                    <div class="col-xs-12">
                      <span class="request-name-main">{{request.text}} </span>
                    </div>
                  </div>
                </div>
              </div>
              <hr *ngIf="request.text" class="divider">
            </template>

            <template  [ngSwitchCase]="3">
              <div class="form-group row"
                   *ngIf="request.integer" style="padding-top: 1em;">
                <label class="col-xs-2 col-form-label">
                  <img src="{{getPropertyIcon(request.property_id)}}"
                       width="40" height="40">
                </label>
                <div class="col-xs-10">
                  <div class="row">
                    <div class="col-xs-12">
                      <span class="request-name">{{request.name}}</span>
                    </div>
                    <div class="col-xs-12">
                      <span class="request-name-main">{{request.integer}} </span>
                    </div>
                  </div>
                </div>
              </div>
              <hr *ngIf="request.integer" class="divider">
            </template>

            <template  [ngSwitchCase]="4">
              <div class="form-group row"
                   *ngIf="request.address" style="padding-top: 1em;">
                <label class="col-xs-2 col-form-label"
                       mdTooltip="Открыть карту"
                       (click)="onMaps(request.address)"
                       style="cursor: pointer">
                  <img src="{{getPropertyIcon(request.property_id)}}"
                       width="40" height="40">
                </label>
                <div class="col-xs-10"
                     mdTooltip="Открыть карту"
                     style="cursor: pointer"
                     (click)="onMaps(request.address)">
                  <div class="row">
                    <div class="col-xs-12">
                              <span class="request-name">
                                {{request.name}}</span>
                    </div>
                    <div class="col-xs-12">
                              <span class="request-name-main">
                                {{request.address.text}} </span>
                    </div>
                  </div>
                </div>
              </div>
              <hr *ngIf="request.address" class="divider">
            </template>

            <template  [ngSwitchCase]="5">
              <div class="form-group row"
                   style="padding-top: 1em;" *ngIf="request.date">
                <label class="col-xs-2 col-form-label">
                  <img src="{{getPropertyIcon(request.property_id)}}"
                       width="40" height="40">
                </label>
                <div class="col-xs-10">
                  <div class="row">
                    <div class="col-xs-12">
                      <span class="request-name">{{request.name}}</span>
                    </div>
                    <div class="col-xs-12">
                      <span class="request-name-main">{{request.text}} </span>
                    </div>
                  </div>
                </div>
              </div>
              <hr *ngIf="request.date" class="divider">
            </template>

            <template  [ngSwitchCase]="6">
              <div class="form-group row"
                   style="padding-top: 1em;"
                   *ngIf="request.date_time">
                <label class="col-xs-2 col-form-label">
                  <img src="{{getPropertyIcon(request.property_id)}}"
                       width="40" height="40">
                </label>
                <div class="col-xs-10">
                  <div class="row">
                    <div class="col-xs-12">
                              <span class="request-name">
                                {{request.name}}</span>
                    </div>
                    <div class="col-xs-12">
                              <span class="request-name-main">
                                {{request.text}} </span>
                    </div>
                  </div>
                </div>
              </div>
              <hr *ngIf="request.date_time" class="divider">
            </template>


            <template  [ngSwitchCase]="7">
              <div class="form-group row"
                   *ngIf="request.text" style="padding-top: 1em;">
                <label class="col-xs-2 col-form-label">
                  <img src="{{getPropertyIcon(request.property_id)}}"
                       width="40" height="40">
                </label>
                <div class="col-xs-10">
                  <div class="row">
                    <div class="col-xs-12">
                              <span class="request-name">
                                {{request.name}}</span>
                    </div>
                    <div class="col-xs-12">
                              <span class="request-name-main">
                                {{request.text}} </span>
                    </div>
                  </div>
                </div>
              </div>
              <hr *ngIf="request.text" class="divider">
            </template>

            <template  [ngSwitchCase]="9">
              <div class="form-group row"
                   *ngIf="request.text"
                   style="padding-top: 1em;">
                <label class="col-xs-2 col-form-label">
                  <img src="{{getPropertyIcon(request.property_id)}}"
                       width="40" height="40">
                </label>
                <div class="col-xs-10">
                  <div class="row">
                    <div class="col-xs-12">
                              <span class="request-name">
                                {{request.name}}</span>
                    </div>
                    <div class="col-xs-12">
                              <span class="request-name-main">
                                {{request.text}} </span>
                    </div>
                  </div>
                </div>
              </div>
              <hr *ngIf="request.text" class="divider">
            </template>

            <template  [ngSwitchCase]="10">
              <div class="form-group row"
                   *ngIf="request.text"
                   style="padding-top: 1em;">
                <label class="col-xs-2 col-form-label"
                       style="cursor: pointer"
                       mdTooltip="Открыть карту"
                       (click)="onRoute(request.route)">
                  <img src="{{getPropertyIcon(request.property_id)}}"
                       width="40" height="40">
                </label>
                <div class="col-xs-10"
                     style="cursor: pointer"
                     mdTooltip="Открыть карту"
                     (click)="onRoute(request.route)">
                  <div class="row">
                    <div class="col-xs-12">
                              <span class="request-name">
                                {{request.name}}</span>
                    </div>
                    <div class="col-xs-12">
                              <span class="request-name-main">
                                {{request.text}} </span>
                    </div>
                  </div>
                </div>
              </div>
              <hr *ngIf="request.text" class="divider">
            </template>

          </div>
        </div>
        <div class="request-action" *ngIf="!chatBool||numberRequest===1">
          <button (click)="onPublishRequest()"
                  md-raised-button
                  class="post"
                  type="button">
            Опубликовать</button>
          <button (click)="onDeniedRequest()"
                  md-raised-button
                  class="denied"
                  type="button">
            Заблокировать</button>
        </div>
      </div>
    </div>
</div>